<%- include("partials/header") -%>
	
        <div class="postPage">
          <h1> <%= post.title %> </h1>
          <p> <%= post.content %> </p>  
          <footer><%= post.creationDate %></footer> 
        </div>

  <%- include("partials/footer") -%>	
